div,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 4vh;
}

h1 {
  font-style: italic;
  font-weight: 600;
  font-size: xxx-large;
  text-decoration: underline;
  position: relative;
}

input {
  margin-bottom: 5%;
  font-size: 25px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

input:focus {
  outline: none;
  background-color: #7a2048;
}

.listBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  gap: 1em;
}

.todoBox,
.doneBox {
  text-align: center;
  display: grid;
  min-width: 40vw;
  max-width: 40vw;
  position: absolute;
  top: 120px;
}

.todoBox {
  left: 20px;
}

.doneBox {
  right: 20px;
}

ul {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  background-color: #7a2048;
  min-height: 30vh;
  max-height: 50vh;
  min-width: 18vw;
  padding-top: 20px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
}

li {
  font-size: x-large;
  display: flex;
  gap: 6px;
  margin: 10px;
  justify-content: space-around;
}

button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #7a2048;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  background-color: #7a2048;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

.deleteButton {
  font-size: 8px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 2px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.deleteButton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  background-color: #7a2048;
}

@media (min-width: 768px) {
  .deleteButton {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 767px) {
  /* For mobile phones: */
  .todoBox,
  .doneBox {
    text-align: center;
    display: grid;
    min-width: 70vw;
    max-width: 50vw;
    position: static;
    margin-right: 5px;
  }

  ul {
    min-height: 18vh;
    max-height: 25vh;
    min-width: 60vw;
    padding-left: 0;
  }

  li {
    text-align: center;
    margin: 5px;
  }
  div {
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    font-size: x-large;
    margin: 5px;
  }
}
